button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 16px 5px;
    font-size: 14px;
    line-height: auto;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 500;
    color: $white;
}

.button {
    &--function {
        button {
            background-color: $white;
            border-radius: 2px;
            border: 1px solid $gray;
            flex: 1;
            padding: 6px 16px 5px;
            width: 100%;
    
            &:hover {
                background-color: $gray;
            }
        }
    }

    &--primary {
        background-color:$primary-color;
        border-color: $primary-color;
        border-radius: 6px;
        font-size: 1.6rem;
        padding: 0.75rem 1.5rem;

        &:hover {
            box-shadow: 1px 1px 2px $primary-button-shadow;
        }

        &.disabled {
            color: $disabled;
            background: #c4c4c4;
            border: 2px solid #c4c4c4;
            cursor: default;

            &:hover {
                background: #c4c4c4;
                text-shadow: none;
                box-shadow: none;
            }
        }
    }

    &--secondary {
        background-color: $secondary;
        font-size: 1.6rem;
        color: $black;
        border: 1px solid $gray;
        padding: 0.75rem 1.5rem;
        border-radius: 6px;
        font-weight: 500;

        &:hover {
            color: $white;
            box-shadow: 1px 1px 3px $secondary-button-shadow;
            background-color: $gray;
        }
    }

    &--outline {
        color: $primary-color;
        background-color: $white;
        border: 2px solid $primary-color;
        border-radius: 6px;
        padding: 0.8rem 2.4rem;
        font-size: 1.6rem;

        i {
            font-size: 1.55rem;
            margin: auto 0;
            padding-right: 1.6rem;
        }

        span {
            margin: auto 0;
        }

        &:hover {
            i, span {
                color: $white;
            }
            color: $white;
            background-color: $primary-color;
            box-shadow: 1px 1px 4px $primary-button-shadow;
        }

        &.disabled {
            color: $white;
            background: #c4c4c4;
            border: 2px solid #c4c4c4;
            cursor: default;

            &:hover {
                i, span {
                    // color: $disabled;
                }
                background: #c4c4c4;
                text-shadow: none;
                box-shadow: none;
            }
        }

        &.applied {
            background: $black;
            color: $white;
            border: 2px solid $primary-color;
            font-style: italic;
            letter-spacing: 0.02rem;
            cursor: default;
            box-shadow: 0 0px 8px 2px inset #840000;

            &:hover {
                box-shadow: 0 0px 8px 2px inset #840000;
            }
        }
    }

    &--right {
        float: right;
    }

    &--search {
        background-color: $primary-color;
        color: $white;
        height: 34px;
        border-radius: 0.25rem;
        padding: 0 1rem;
        font-size: 1.4rem;
        font-weight: 500;

        &.disabled {
            background-color: $light-gray;
        }
    }

    &--login {
        padding: 0rem 0.5rem;
        color: $gray;

        &:hover {
            text-shadow: 1px 1px 5px $light-gray;
        }
    }

    &--start-order, &--search-order {
        width: auto;
        height: 40px;
        min-width: 17rem;
        color: $white;
        background-color: $accent-color;
        // transition: all 0.24s;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        letter-spacing: 0.04rem;
        font-size: 1.5rem;
        border-radius: 4px;

        @include media-breakpoint-down(xs) {
            padding: 0.4rem 1rem;
        }

        i {
            color: $white;
            margin: auto 0;
            padding-right: 1rem;
        }

        span {
            margin: auto 0;
        }

        &:hover {
            text-shadow: 1px 1px $black;
            box-shadow: 0px 0px 2px 3px rgba(5,5,5, 0.2);
            background: linear-gradient(135deg, rgb(125, 13, 13) 0%, $accent-color 20%, $accent-color 80%, rgb(125, 13, 13) 100%);
        }

        &:focus {
            background:rgba(205,47,47,1);
        }

        &.disabled {
            color: $disabled;
            background: #c4c4c4;
            padding: 0 2rem;

            i {
                color: $disabled;
            }

            &:hover {
                background: #c4c4c4;
                text-shadow: none;
                box-shadow: none;
            }
    
        }
    }

    &--openmap {
        color: $white;
        background: #1b1b1b;
        // border: 1px solid white;
        border-radius: 6px;
        line-height: 2.4rem;
        border: 2px solid #17ad2b;

        &:hover {
            background: #041504;
        }
    }

    
    &--goback {
        border: 1px solid $gray;
        color: $white;
        background-color: $gray;
    }

    &--delete-item {
        float: right;
        padding: 0rem 0.6rem;
        background: none !important;
        color: #242424;
        font-size: 2rem;
        position: relative;
        top: 0.5rem;
        left: 0.2rem;
    
        &:focus {
            box-shadow: none !important;
        }
    
        &:hover {
            cursor: pointer;
            color: #9a0406;
        }
    }

    &--topping-quantity {
        width: 38px;
        height: 32px;
        font-size: 2rem !important;
        line-height: 16px;
        padding: 0px 5px 5px 5px !important;
    }
}