.form-group {
    margin-bottom: 1rem;

    label {
        font-size: 1.6rem;
        font-weight: 500;
        color: $black;
        margin-bottom: 0.4rem;
    }

    select {
        font-size: 1.8rem;
        border: 1px solid #656565;
        border-radius: 4px;
        padding-left: 2rem;
        height: 40px;

        &:focus {
            border-radius: 8px;
            border-color: $gray;
            box-shadow: none;
        }

        option {
            background-color: $white;
        }

        &::-ms-expand {
            color: $primary-color;
        }
    }

    .custom-select {
        &:focus {
            box-shadow: 1px 1px 6px 0px rgba(1,1,1, 0.05);
        }
    }
}

.form-control {
    font-size: 1.7rem;
    height: 44px;
}

.star-require:before {
    color: $red;
    content: '*';
    font-size: 14px;
    margin-left: 2px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.form-login {
    margin: 0 auto;
    padding: 0;
}



.address-input-form {
    padding: 2rem;
    background: #1b1b1b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px #410a0a;
    border: 2px solid $primary-color;

    input {
        &.input--address {
            height: 40px;
        }
    }


    @include media-breakpoint-up(md) {
        min-width: 600px;
    }
}