.main-menu {
    z-index: 0;
    padding: 0 19vw;

    // .category-fixed {
    //     position: fixed;
    //     height: auto;
    //     padding: 0 19vw;
    //     width: 100%;
    //     display: block;
    //     margin: 0 auto;
    //     text-align: center;
    //     left: 0;
    //     z-index: 100;
    //     background: white;
    // }

    @media (max-width: 991px) {
        padding: 1.2rem;
    }

    @include media-breakpoint-down(xs) {
        margin: 0;
        padding: 1rem !important;
        z-index: 20;
    }

    &__category {
        justify-content: center;
        display: flex;
        margin-top: 2rem;
        text-align: center;

        .btn-category {
            background-color: $white;
            white-space: nowrap;
            color: $black;
            font-size: 1.6rem;
            letter-spacing: 0.03rem;
            height: 46px;
            border: 1px solid $accent-color-2;
            border-radius: 12px;
            margin-bottom: 1.2rem;
            padding: 1rem 2.2rem;
            line-height: 1rem;
            // padding: 0.6rem 1.5rem;
            font-weight: 500;
            &:not(:last-child) {
                margin-right: 1.2rem;
                
            }
            &:focus {
                box-shadow: none !important;
            }
            &:hover {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
            &.active {
                // background-color: $primary-color;
                // color: $white;
                font-weight: 700;
                border: 2.7px solid $primary-color;
                color: $primary-color;
            }

            @include media-breakpoint-down(xs) {
                font-size: 1.6rem;
                height: 52px;
                border-radius: 12px;
                padding: 1rem 2.0rem;
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }

        .btn-group {
            display: block;
            text-align: center;

            @include media-breakpoint-down(md) {
                display: inline-flex;
            }
        }

        @include media-breakpoint-down(xs) {
            overflow-x: scroll;
        }
    }
    
        
    &__class {
        margin: 1.2rem 0 2rem 0;
        justify-content: center;
        display: flex;
        overflow: auto;
        text-align: center;

        .btn-class {
            border: none;
            color: $black;
            padding: 1rem;
            font-size: 1.6rem;
            white-space: nowrap;
            min-width: 15rem;
            font-weight: 500;
            letter-spacing: 0.02rem;
            border-bottom: 1px solid $black;

            &:focus {
                box-shadow: none !important;
            }

            &:hover {
                // background-color: $accent-color-2;
            }

            &.active {
                color: $primary-color;
                font-weight: 700;
                padding: 0.5rem 1.7rem;
                border-bottom: 4px solid $primary-color;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }

            @include media-breakpoint-down(xs) {
                // font-size: 1.6rem;
                height: 40px;
                padding: 1rem 2.4rem;
            }
        }

    }

    &__container {
        margin: 1rem 0;
        // padding-top: 20rem;
        flex-wrap: wrap;
        display: none;

        @include media-breakpoint-up(md) {
            display: flex;
        }

        .leftover {
            display: none;
        }

        .leftover.card {
            border: none;
        }
    }

    &__container--mobile {
        flex-wrap: wrap;
        display: flex;

        @include media-breakpoint-up(md) {
            display: none;
        }

        .leftover {
            display: none;
        }

        .leftover.card {
            border: none;
        }
    }

    .hide-scrollbar {
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

