.wrapper-menu-item {
    padding: 2px;
    .menu-item {
        height: 100%;
        border: 1px solid $white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 0.8rem;
        position: relative;
        padding: 0.8rem;
        background: $white;

        .status-img {
            position: absolute;
            z-index: 10;
            width: 32%;
            right: 4px;
            top: 4px;
            padding: 2px
        }

        &--clickable {
            overflow: hidden;

            .img-frame {
                overflow: hidden;
            }
            
            img {
                animation: zoomout 0.3s;
                animation-fill-mode: forwards;
            }
        }

        &--clickable:hover {
            cursor: pointer;
            border-radius: 1rem;
            border: 1px solid $primary-color;
            background: linear-gradient(0deg, rgb(255, 252, 252) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
            
            img {
                animation: zoomin 0.3s;
                animation-fill-mode: forwards;
                filter: saturate(1.08);
                filter: brightness(1.05);
                filter: contrast(1.05);
            }
        }

        &__footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;

            &__price {
                font-weight: 600;
                font-size: 1.8rem;
                align-self: flex-end;
            }

            &__cart {
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                i {
                    line-height: 3.5rem;
                    font-size: 2.5rem;
                    color: #dadada;
                    margin-right: 2px;
                    margin-bottom: 7px;

                    &:hover {
                        transition: 0.2s ease-out;
                        color: $accent-color;
                        text-shadow: 1px 1px 3px $primary-color;
                    }

                    &.active {
                        color: $accent-color;

                        &:hover {
                            // color: #dadada;
                            transition: 0.2s;
                        }
                    }
                }

                .button--add-to-cart {
                    padding: 0.8rem 2.5rem 0rem 2.5rem !important;
                }

                @include media-breakpoint-down(md) {
                    

                    i {
                        margin-bottom: 5px;
                        margin-right: 0;
                        padding-right: 0;
                        border-right: none;
                    }
                }
            }
        }

        .info {
            &__name {
                text-align: left;
                font-weight: 700;
                font-size: 14px;
                margin: 1rem 0;
                color: $gray;
                height: 4.2rem;
                white-space: normal;
                text-overflow: ellipsis;
                overflow: hidden;

                @include media-breakpoint-down(md) {
                    padding-top: 5px;
                }
            }

            &__description {
                font-size: 14px;
                color: $light-gray;
                height: 6rem;

                @include media-breakpoint-down(md) {
                    margin-bottom: 0px;
                }

                @include media-breakpoint-up(md) {
                    position: relative;
                    white-space: normal;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}