.input-address-wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 5.4rem;
    // display: flex;
    // flex-wrap: wrap;
    
    & > div:first-child {
        margin: 3rem 0 0 3rem;

        @include media-breakpoint-down(xs) {
            padding: 1.2rem;
        }
    }
    
    h5 {
        color: $white;
        margin-bottom: 0.5rem;
        line-height: 1.5;
        white-space: pre;
    }
}

.input {
    flex: 1 1 auto;

    input {
        font-size: 1.74rem;
        font-weight: 500;

        &::placeholder {
            font-size: 1.5rem;
            font-weight: 400;
            color: #888888;
            font-style: italic;
        }
    }
}

.img-maps {
    width: 5.5rem;
    height: 5.5rem;
}

.mapinput-container {
    border-radius: 1rem;
    overflow: hidden;

    #map {
        min-height: 50vh;
    }
}

.mapinput-navigation {
    font-weight: 500;
    color: $white;
}

.button-wrapper {
    padding-left: 1.25rem;
    display: flex;

    @include media-breakpoint-down(xs) {
        margin-top: 0.75rem;
        width: 100%;
        justify-content: flex-end;
    }
}

.location {
    margin-top: 36px;
    
    i {
        color: $white;
        font-size: 4.4rem;
        padding-right: 5px;
        text-shadow: 0px 0px 12px #6ce473;
    }

    .vertical-line {
        margin-left: 10px;
        width: 0px;
        background: $light-gray;
        height: 50px;
        align-self: center;
    }

    div {
        font-style: italic;
        color: $white;
    }
}

.line {
    height: 1px;
    width: 100%;
    text-align: center;
    align-self: center;
    background: $gray;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    @include media-breakpoint-down(xs) {
        margin-top: 6rem;
    }
}