.manage__section {
    .back-btn {
        width: 100%;
        flex: 1;
        padding: 6px 16px 5px;
        font-weight: 500;
        color: $white;
        background-color: $gray;
        border-radius: 2px;
    }
            
    .logout-btn {
        border-radius: 2px;
        width: 100%;
        flex: 1;
        padding: 6px 16px 5px;
        font-weight: 500;
        color: $white;
        background-color: $primary-color;
    }

    button {
        height: 100%;
    }
}
