.address-list {
    display: block;
    position: relative;
    margin-top: 1rem;
    
    &__address-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 20px;
        height: auto;

        &__address {
            display: block;
            flex-grow: 1;
            padding: 0;

            p {
                line-height: 2rem;
            }

            h5 {
                padding-bottom: 2px;
                color: $primary-color;
            }
        }

        &__icon {
            text-align: right;
            padding-right: 0;

            i {
                font-size: 1.5rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.manage-content-input {
    display: block;

    .google-map {
        min-height: 150px;
    }
}
    
.map-input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    height: 100%;

    &__map2 {
        height: 320px;
        width: 100%;
        margin: 0 auto;
        margin-top: 8px;
        position: relative;
        border: 1px solid black;
        overflow: hidden;
    }

    &__google-address {
        width: inherit;
        max-width: 90vw;
        height: 50px;
        margin: 4px 10px;
        text-align: center;
    }
}