.card {
    width: auto;
    border: none;
    margin: 0px auto;
    background: linear-gradient(0deg, rgba(255, 249, 240, 1) 0%, rgba(231, 244, 255, 1) 100%);
}

.card-body {
    text-align: left;
    padding: 0.75rem;

    .quantity {
        padding: 0px 20px;
    }
}

.area {
    &-menu-image {
        width: 180px;
    }

    &-detail {
        display: block;
        width: 90%;
        font-size: 1.4rem;
        white-space: pre;
    }

    &-price {
        display: flex;
        padding-top: 10px;
        line-height: 2;

        .quantity-control {
            padding: 0 20px;
        }
    }
}

.bottom-info {
    width: auto;
    margin: 20px auto;
}

.back-empty {
    width: 50%;
    margin: 0 auto;
}

h6 {
    margin-bottom: 15px;
}

.padding-equal {
    padding-right: 20px;
}

.unit-price {
    font-size: 1.5rem;
}

.area-price {
    font-size: 1.4rem;
    padding: 0.5rem 0rem;
    margin-top: 10px;
}

.price-total {
    line-height: 27px;
}

.item-img {
    height: 100%;
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 8px;

    @include media-breakpoint-down(md) {
        max-width: 11rem;
        max-height: 11rem;
    }

    @include media-breakpoint-down(xs) {
        max-width: 7rem;
        max-height: 7rem;
    }
}

.item-name {
    font-weight: 600;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

.cart-item {
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 4px 1px #eaeaea;

    &:first-child {
        margin-top: 0.4rem;
    }
}

.container-exclude-food {
    margin-top: 50px;
}

.btn-quantity {
    width: 30px;
    height: 28px;
    font-size: 1.8rem;
    padding: 0px 5px 5px 5px !important;
    border-radius: 4px;
    line-height: 2rem;

    &:focus {
        box-shadow: none !important;
    }
}
@media (min-width: 768px) {
    .btn-quantity {
        width: 1.8em;
        height: 3rem;
        font-size: 2rem !important;
    }
}