
.order-history {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2.5rem !important;

        &__calendar {
            margin: 0 0 2rem 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }
                       
    &__condition {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0 2rem 0;
        justify-content: center;

        input {
            display: none;
        }

        label {
            text-align: center;
            align-self: baseline;
            font-size: 1.8rem;
            font-weight: 500;
            cursor: pointer;
            width: auto;
            height: 50px;
            color: $text-color;
            margin: 0 10px;
            padding: 0.2rem 2rem;
            border-bottom: 1px solid #c4c4c4;
            line-height: 4.5rem;
            transition: all 0.24s;

            span {
                // border: 1px solid $gray;
                background: $accent-color-2;
                padding: 0.2rem 1rem 0.4rem 1rem;
                font-size: 1.3rem;
                line-height: 1.5rem;
                border-radius: 4px;
                margin-left: 1rem;
                color: $black;
            }

            @media (max-width: 320px) {
                width: 3rem;
                padding: 0rem 0.5rem;
            }

            &.active {
                color: $primary-color;
                border-bottom: 4px solid $primary-color;
                font-weight: 700;
                line-height: 4rem;
            }

            &:not(.active):hover {
                // text-shadow: 1px 1px 5px $light-gray;
                color: $primary-color;
                border-bottom: 1px solid $primary-color;
            }

            &.order {
                &:before {
                    font-family: 'Font Awesome 5 Free';
                    font-size: 1.7rem;
                    padding-right: 4px;
                }
                &.all:before {
                    content: '\f005';
                }
                &.processing:before {
                    content: '\f09d';
                }
                &.ongoing:before {
                    content: '\f35a';
                }
                &.completed:before {
                    content: '\f058';
                }
                &.cancelled:before {
                    content: '\f057';
                }
            }
        }
    }

}


.order-wrapper,
.order-wrapper--mb {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5rem 1.5rem 0 2rem;
    border: 1px solid $white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    border-left: 8px solid $primary-color;
    outline: 1px solid #bdbdbd;
    background: $white;

    @include media-breakpoint-down(xs) {
        padding: 1.5rem;
    }

    .detail-btn {
        position: absolute;
        // top: 45%;
        right: 5rem;
        color: #1f1f1f;
        transition: 0.3s all;

        .left {
            color: #c92b2b;
        }

        &:hover {
            transform: translateX(4px);
        }
    }

    &__order-row {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;

        h5 {
            margin: 0;
            color: $primary-color;
        }

        &__label {
            font-weight: 400;
            font-size: 1.8rem;
            color: $black;
            padding: 0;

            &.order-no {
                color: $black;
                letter-spacing: 0.02rem;
                font-weight: 700;
                font-size: 2rem;
            }

            &.order-no:hover {
                cursor: pointer;
                color: $accent-color;
            }
        }
    }

    .product-tag {
        padding: 0.5rem 1rem;
        margin-right: 0.6rem;
        background: $white;
        border: 1px solid $black;
        color: $black;
        display: inline-block;
        margin-top: 5px;
        border-radius: 0.4rem;
        font-weight: 400;
    }
}

.order-wrapper--mb {
    .total {
        font-weight: 600;
        text-align: right;
    }

    .status-icon {
        position: absolute;
        right: 2rem;
        top: 1rem;
    }

    .text {
        position: absolute !important;
        top: 3px;
        right: 0.8rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: $light-gray;

        &.completed {
            color: $green;
        }
    }

    .time {
        color: $light-gray;
        font-weight: 500;
    }
}


.order-empty {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .message {
        color: $light-gray;
        font-weight: 600;
        font-size: 2rem;
    }

    .comment {
        color: #6969698a;
    }

    .cart {
        z-index: 1;
        color: $white;
    }
}

@include media-breakpoint-down(xs) {
    .order-history__condition {
        padding: 0 0 2rem 0;
        flex-direction: row;
        overflow: auto;

        label {
            width: auto;
            min-width: 50px;
            font-size: 1.5rem;
            height: 45px;
            padding: 0.2rem 0.5rem;
        }
    }
}