.container-promotion {
    margin: 20px auto;
    max-width: 820px;
}
.list-promotion-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 350px;
    @include media-breakpoint-down(xs) {
        padding: 0 1rem;
    }
}
.promotion-item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid $light-gray;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 4px 1px $light-shadow;

    @include media-breakpoint-down(xs) {
        padding: 1rem;
    }

    &:first-child {
        margin-top: 2rem;
    }

    &:last-child {
        margin-bottom: 5rem;
    }

    img {
        width: 100%;
        max-height: 450px;
        height: auto;
        border-radius: 12px;
        align-self: center;

        @include media-breakpoint-down(xs) {
            max-height: none;
        }
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;

        .promo-info {
            align-self: flex-start;
            width: 100%;
            margin-top: 10px;
            border-top: 3px solid $accent-color;
            padding: 10px 0px;

            h3, h4 {
                text-transform: uppercase;
            }

            p {
                font-size: 1.6rem;
            }
        }

        .detail-btn {
            align-self: flex-end;
            margin-top: 2rem;
        }
    }

    .button--outline:hover {
        i {
            transition-duration: 0.3s;
            transform: translateX(2px);
        }
    }
    
}