.form-manage-w {
    min-width: 370px;
}

.form-otp {
    margin-top: 1.5rem;
    text-align: center;
    letter-spacing: 1.5rem;
    font-weight: 600 !important;
}

.tos {
    &-checkbox {
        width: 40px !important;
        margin-right: 1.5rem;
    }
    &-text {
        font-style: italic;
    }
}

.phone-container {
    height: 46px;
    font-weight: 500;
    line-height: 46px;
    text-align: center;
    background: linear-gradient(
        0deg,
        rgba(101, 0, 15, 1) 0%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 71%,
        rgba(101, 0, 15, 1) 100%
    );
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5rem;

    h3 {
        color: white;
        margin: auto;
        line-height: 44px;
        vertical-align: middle;
        animation: textblink 4.2s linear infinite;
    }
}

.manage-content-list {
    display: block;
    height: auto;
    margin: 20px 0;
    height: 100%;
    overflow-y: auto;
}


.address-manage-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}



.checkout {
    cursor: pointer;
    h5,
    h6 {
        color: #9a0406;
        cursor: pointer;
    }

    h5.disabled,
    h6.disabled {
        color: #9e9e9e;
    }
}

.resend-otp {
    h5,
    h6 {
        color: #9a0406;
        cursor: pointer;
    }

    h5.disabled,
    h6.disabled {
        color: #9e9e9e;
        cursor: default;
    }
}

.btn-openmap {
    padding: 0 20px;
    font-size: 1.4rem;
    height: 32px;
    width: auto;
    color: black;
    border-radius: 4px;
    border: 1px solid #000000;
    background: #ffffff;
    font-weight: 600;
    line-height: 1rem;

    &:hover {
        border: 1px solid #9a0406;
        // box-shadow: 1px 1px 0px #ffffff;
    }
}

@keyframes textblink {
    0% {
        opacity: 0.67;
    }
    16% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0.67;
    }
}

.input-profile {
    font-size: 13px;
}

