

.banner {
    text-align: center;
    font-size: 2.25rem;
    background-image:linear-gradient(10deg, rgb(154, 4, 6) 0%, rgb(0, 0, 0) 100%);
    background: url(../assets/images/img-zensho-header.jpg) center center no-repeat;

    background-size: cover;
    padding: 300px 0 10px 0;
    @media (min-width: 992px){
        padding: 240px 0 140px 0;
        font-size: 3rem;
    }
}

.detail-info
{
    padding: 50px 0;
}

.bill-img {
    width: 360px;
}