
@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.01);
    }
    40% {
        transform: scale(1.02);
    }
    60% {
        transform: scale(1.03);
    }
    80% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1.05);
    }
    20% {
        transform: scale(1.04);
    }
    40% {
        transform: scale(1.03);
    }
    60% {
        transform: scale(1.02);
    }
    80% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {opacity: 0.5;}
    100% {opacity: 1;}
  }
  