$primary-color: #9a0406 !default;
$accent-color: #d82023 !default;
$accent-color-2: #ffb7b7 !default;
$secondary: #dfdfdf;
$white: #ffffff !default;
$black: #121212 !default;
$gray: #343A40 !default;
$light-gray: #acacac !default;
$disabled: #777777 !default;
$text-color: #242424 !default;
$font-size-base: 1.3rem !default;
$red: #f7061d !default;
$green: #00A000 !default;
$orange: #ca802a !default;

$product-tag-background: #e0e0e0 !default;
$header-color: rgba(255, 255, 255, 0.9) !default;
$primary-button-shadow: #bdbdbd;
$secondary-button-shadow: #bdbdbd;
$light-shadow: #dedede;

$normal-shadow: 1px 1px 3px 1px #e8e8e8 !default;